<app-admin-header></app-admin-header>

<div class="container">
    <div class="action-btn-header">
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back_ios</mat-icon> Back
        </button>
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Give your food details.</mat-card-title>
            <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        </mat-card-header>

        <mat-card-content>
            <form id="food-details" [formGroup]="foodDetailsForm" (submit)="onFormDetilsSobmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Dish Name</mat-label>
                    <input matInput placeholder="Dish name" formControlName="name">
                    <mat-icon matSuffix>restaurant_menu</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <input matInput placeholder="Category"  formControlName="category">
                    <mat-icon matSuffix>category</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="price"  formControlName="price">
                    <mat-icon matSuffix>currency_rupee</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Qntu</mat-label>
                    <input matInput placeholder="qnty"  formControlName="qnty">
                    <mat-icon matSuffix>currency_rupee</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                
                <mat-form-field  appearance="outline">
                    <mat-label>Food details</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."  formControlName="dsc"></textarea>
                    <mat-icon matSuffix>currency_rupee</mat-icon>
                </mat-form-field>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" form="food-details" color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>